@import "tailwindcss";

html, body, #root {
  background-color: #0a0a0a;
  overscroll-behavior-y: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer base {
  * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

/* Hide scrollbars globally across all browsers while allowing scroll functionality */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

